@font-face {
    font-family: 'Kapra-Condensed';
    src: url('../assets/fonts/Kapra-Condensed.otf');
}

@font-face {
    font-family: 'Caslons Egyptian';
    src: url('../assets/fonts/Caslons Egyptian Light.otf');
}

.centered {
    height: 20%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    font-size: 2em;
    color: white;
    outline: none;
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    z-index: 1;
}

#backButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 93px;
    height: 44px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 11;
    background: url("../assets/Back-button.svg") no-repeat center center;
    background-size: contain;
    background-color: transparent;
}

.slider {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 10;
}

.button-text {
    position: fixed;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

button[data-action="change"] {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.action-button {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    color: white;
    font-family: 'Kapra-Condensed', sans-serif;
    text-align: center;
}

.overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/UI/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 99;
    opacity: 1;
}

.overlay-content {
    position: relative;
    z-index: 100;
    max-width: 80%;
    padding: 2%;
    text-align: center;
}

.logo {
    width: 10%;
    max-width: 81px;
    height: auto;
    margin-bottom: 2%;
}

.overlay-content h1 {
    font-family: 'Kapra-Condensed', sans-serif;
    font-size: 4.5vw;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.15px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.overlay-content h1-2 {
    font-family: 'Kapra-Condensed', sans-serif;
    font-size: 4vw;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.15px;
    text-align: center;
    width: 100%;
    margin: 1% 0 0 0;
    padding: 0;
    color: #FDB0D4;
    text-transform: uppercase;
}

.overlay-content h2 {
    font-family: 'Kapra-Condensed', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    margin: 1% 0;
    padding: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.overlay-content p {
    font-family: 'Caslons Egyptian', sans-serif;
    font-size: 1.6vw;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    width: 80%;
    max-width: 327px;
    margin: 2% 0;
    color: #FAFAFA;
}

.overlay-content button {
    font-family: 'Kapra-Condensed', sans-serif;
    font-size: 2.4vw;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 1% 4%;
    background-color: #FFC734;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin-top: 2%;
    text-transform: uppercase;
    width: 80%;
    max-width: 327px;
    height: auto;
}

.overlay-content button:hover {
    background-color: #FFA500;
}

.overlay-line {
    width: 80%;
    max-width: 268px;
    height: 0.5%;
    max-height: 5px;
    background-color: #FDB0D4;
    margin: 1% auto;
}
